Debug
/Cafe/*.filters
/Cafe/*.user
/*.opensdf
/*.sdf
/*.suo
/Cafe/Release
/Release
/Cafe2/Release
/Cafe3/Release
/Cafe5/Release
/Cafe4/Release
/Cafe6/Release
/Cafe7/Release
/Cafe8/Release

/ipch/cafe-b5ad0c7a/*.ipch
/ipch/cafe2-e7be50fe/*.ipch
/ipch/cafe3-ff822fc0/*.ipch
/ipch/cafe4-17460e82/*.ipch
/ipch/cafe5-2f09ed44/*.ipch
/ipch/cafe6-46cdcc06/*.ipch
/ipch/cafe7-5e91aac8/*.ipch
/ipch/cafe8-7655898a/*.ipch
